# Main folders
bin/
obj/
pretzel/
web/_site/
_generated/
gh-pages/
gh-pages-git/

# TeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.txt
*.dst
*.class
*.name
*.blg
*.bbl

# .NET
*.sln

# IDEA
.idea/workspace.xml
.idea.Publications
.idea.Talks
